/* 
    Document   : sivu
    Created on : 29.1.2013, 15:46:36
    Author     : lode
    Description:
        Purpose of the stylesheet follows.
*/

body {
/*    background-color: #25620b;*/
    background-color: #fde7ba;
    color: black;
}

footer p {
    text-align: center;
}

a {
    color: black;
}
a:hover {
    color : black;
}

.drinkkilista {
/*    float: left;*/
/*    margin-top: 100px;*/
    background: #fde7ba;
    color: black;
    /*padding: 10px;*/
    list-style: none;
    width: 600px;
    margin: 0 auto;
}

.uloskirjautuminen {
    float: right;
}
.kirjautuminen {
    width: 600px;
    margin: 0 auto;
    
}

.kirjautuminen h2 {
    text-align: center;
}    

.signuplinkki {
    margin: 30px 0;
    text-align: right;
}